<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ISiparisServis" maxReceivedMessageSize="655360">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint
			  address="https://www.dianorapiercing.com/Servis/SiparisServis.svc"
			  binding="basicHttpBinding"
			  bindingConfiguration="BasicHttpBinding_ISiparisServis"
			  contract="SiparisServisRef.ISiparisServis"
			  name="BasicHttpBinding_ISiparisServis" />
		</client>
	</system.serviceModel>
</configuration>
